      body {
            display: flex;
            height: 650px;
            justify-content: center;
            align-items: center;
        }
        .main {
            display: flex;
            flex-direction: column;
            background-color: rgb(82, 83, 82);
            width: 300px;
            height: 422px;
            border-radius: 25px;
        }
        #display {
            display: flex;
            background-color: rgb(153, 153, 153);
            height: 80px;
            border-radius:20px 20px 0 0;
            padding-inline-start: 15px;
            font-size: 55px;
            justify-content:flex-start;
            align-items: center;
            overflow: auto;
        }        
        
        
        .buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-left: 10px;
            padding-right: 10px;
            height: 330px;
        }
        .button {
            display: flex;
            background-color: rgb(143, 143, 143);
            border-radius: 10px;
            width: 57px;
            height: 57px;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            cursor: pointer;
        }